body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* Embed the GIF as the background image */
    background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExbGNoZGd6bnVibjZuNHhwN3JyaGVnOG8xY2VybG9reTV2MzVnMGtobSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xUPGcfzaX9hFFQJYre/giphy.gif'); /* Replace with the direct GIF URL */
    /* Make the background cover the entire page */
    background-size: cover;
    /* Fix the background so it doesn't scroll */
    background-attachment: fixed;
    /* Center the background */
    background-position: center;
    /* Prevent background from repeating */
    background-repeat: no-repeat;

}

/* Add these styles to handle the background transitions */
body.transition-background-1 {
    background-image: url('static/closed-hatch.png'); /* Replace with the actual path to the first image */
    transition: background-image 1s ease-in-out; /* Configurable transition time */
}

body.transition-background-2 {
    background-image: url('static/open-hatch.png'); /* Replace with the actual path to the second image */
    transition: background-image 1s ease-in-out; /* Configurable transition time */
}

body.transition-background-original {
    background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExbGNoZGd6bnVibjZuNHhwN3JyaGVnOG8xY2VybG9reTV2MzVnMGtobSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xUPGcfzaX9hFFQJYre/giphy.gif'); /* Replace with the direct GIF URL */
    transition: background-image 2s ease-in-out; /* Configurable transition time */
}

.container {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #4CAF50; */
    background-color: #0B2B40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    /* background-color: #45a049; */
    background-color: #154659;
}

h1 {
    color: #fff;
}

p {
    font-size: 18px;
    color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    color: #fff;
    background-color: #000;
    border: solid 2px #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

#answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

#close-modal {
    /* background-color: #4CAF50; */
    background-color: #0B2B40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#close-modal:hover {
    /* background-color: #45a049; */
    background-color: #154659;
}

.description {
    font-size: 16px;
    text-align: justify;
    color: #ccc;
    margin-top: 10px;
    padding: 10px 20px;
}
